
@{
    ViewData["Title"] = "Error";
}
<div class="jumbotron">

    <h1 class="text-danger">Error</h1>

    <p>
        Something goes wrong, our team will be notified about this incident and will try to fix it.
    </p>
</div>